<div class="header">
    <img class="img_fluid" src="images/home.png" alt="">
    <div class="header__text">
        <h1 class="heading heading_slogan">Get a ChargaCard from your favorite stores</h1>
        <h5 class="heading heading_header-text">It's Free. No Hidden Fees. <br/> Get rid of Bank credit and get Store credit</h5>
        <a class="button-site button-site_header" routerLink="/sign-up">Sign Up for free</a>
    </div>
</div>
<div class="your-card">
    <heading-square [color]="'bg_blue'" [text]="'Your Card. Your Stores. No Banks.'"></heading-square>
    <div class="steps">
        <div class="steps__step">
            <img class="img_fluid img_get-card" src="images/cards.png" alt="">
            <h6 class="heading heading_your-card">Get a ChargaCard</h6>
        </div>
        <div class="steps__line"></div>
        <div class="steps__step">
            <img class="img_fluid img_access" src="images/stores.png" alt="">
            <h6 class="heading heading_your-card">Access your favorite online stores</h6>
        </div>
    </div>
    <div class="get-for-free">
        <h1 class="heading heading_for-free">Get ChargaCard for free. No monthly or annual fees</h1>
    </div>
</div>
<div class="shopping">
    <heading-square [color]="'bg_blue'" [text]="'Shopping with ChargaCard is easy'"></heading-square>
    <div class="shopping__wrapper">
        <div class="shopping__item">
            <img class="img_blackcard" src="images/blackcard.png" alt="">
            <h3 class="heading heading_normal">The new way to pay</h3>
            <p class="paragraph">With a ChargaCard revolving credit line, get the products that you want, when you want, and pay in installments! Now you can buy stuff from your favorite stores with merchant approved credit lines and not have to go through third-party financial
                institutions.
            </p>
        </div>
        <div class="shopping__item">
            <img class="img_charga-score" src="images/chargascore.png" alt="">
            <h3 class="heading heading_normal heading_score">675</h3>
            <h3 class="heading heading_normal">ChargaScore: The new credit score</h3>
            <p class="paragraph">Tired of getting rejected, because you don't have a credit score? Your favorite stores now offer financing on demand. With the new ChargaScore credit scoring system the approval process is real-time, secure and accurate, allowing you to shop
                with a growing list of online stores.</p>
        </div>
        <div class="shopping__item">
            <img class="img_security" src="images/security.png" alt="">
            <h3 class="heading heading_normal">Security you can Trust</h3>
            <p class="paragraph">You connect directly to your stores. It's your ChargaCard. It's your store. We confirm every purchase via text message and the products are only shipped to your home or office, so your account is always secure.</p>
        </div>
        <div class="shopping__item">
            <img class="img_students" src="images/students.png" alt="">
            <h3 class="heading heading_normal">ChargaCard for Students </h3>
            <p class="paragraph">Start building a financial future today with a credit score based on your relationship with your favorite stores. Save more in the long run with low interest rates. Make timely payments to get rates as low as 5.00%. No annual fees.</p>
        </div>
    </div>
</div>
<heading-square [color]="'bg_blue'" [text]="'Buy what you want, how you want.'"></heading-square>
<p class="paragraph paragraph_buy">With ChargaCard you can buy from your favorite stores and make monthly payments at rates lower than traditional credit cards. <br> You can also build a new credit history and improve your credit score.</p>
<h6 class="heading heading_normal heading_featured">Featured Stores</h6>
<featured-stores></featured-stores>
<div class="button-site button-site_learn-more">Learn More</div>
<iframe class="frame_video" src="https://www.youtube.com/embed/sINtA9mXIg0" frameborder="0" allowfullscreen></iframe>
<h5 class="heading heading_normal heading_ready-to-get">Ready to get your free ChargaCard account? <br> On Demand. <br> Just enter some basic information and get a quick response from your favorite stores.</h5>
<div class="number">
    <h6 class="heading heading_number heading_normal">Your mobile number</h6>
    <input type="tel">
    <div class="button-site button-site_sign-up">Sign Up for Free</div>
</div>