
<div class="footer_wrapper">
    <div class="footer__individual">
        <h3 class="heading heading_title">Individual</h3>
        <h3 class="heading">Sign up for Free</h3>
        <h3 class="heading">About Us</h3>
        <h3 class="heading">FAQs</h3>
        <h3 class="heading">Log In</h3>
    </div>
    <div class="footer__merchants">
        <h3 class="heading heading_title">Merchants</h3>
        <h3 class="heading">Request a Demo</h3>
        <h3 class="heading">Try for Free</h3>
        <h3 class="heading">Company</h3>
        <h3 class="heading">Log In</h3>
    </div>
    <div class="footer_developers">
        <h3 class="heading heading_title">Developers</h3>
        <h3 class="heading">Let's Talk</h3>
        <h3 class="heading">Documentation</h3>
        <h3 class="heading">APIs</h3>
    </div>
    <div class="footer__help">
        <h3 class="heading heading_title">Help</h3>
        <h3 class="heading">Contact Us</h3>
        <h3 class="heading">Terms</h3>
        <h3 class="heading">Privacy</h3>
    </div>
</div>
<div class="copyright"><h6 class="heading heading_copyright">©2017 ChargaCard. All rights reserved.</h6></div>