<div class="header">
    <img class="img_header_bg" src="images/bg.png" alt="">
    <div class="header__text">
        <h1 class="heading">Building a merchant controlled credit network</h1>
        <p class="paragraph paragraph_header">No more interchange fees, merchant fees, payment gateways. <br> Just ChargaCard.</p>
        </div>
</div>
<div class="captivate">
    <heading-square [color]="'bg_blue'" [text]="'Captivate your customers'"></heading-square>
    <p class="paragraph">ChargaCard is an alternative credit card network directly connecting merchants and customers based on same-day ACH.
        <br>Merchants offer a financing alternative to their customers, build loyalty and boost revenues. <br> Customers benefit from a new payment option based on an alternative credit scoring system.</p>
</div>
<kpi-history></kpi-history>
<mission></mission>