<div class="header">
    <img class="img_header_bg" src="images/businessheader.png" alt="">
    <div class="header__content">
        <h1 class="heading heading_header"> The payment solution customers will love.</h1>
        <p class="paragraph paragraph_header">Give your customers a revolving credit line. No third party applications required. You earn interest while generating repeat business.</p>
        <button class="button" routerLink="/business-sign-up">Request a Demo</button>
    </div>
</div>
<heading-square [color]="'bg_blue'" [text]="'Featured Merchants'"></heading-square>
<featured-stores></featured-stores>
<div class="good">
    <heading-square [color]="'bg_blue'" [text]="'Good Business. Good Customers'"></heading-square>
    <div class="good__thumbnails">
        <div class="thumbnail">
            <img src="images/access.png" alt="">
            <h1 class="heading">Access new clients</h1>
            <p class="paragraph">Increase salses. By offering your customers an alternative <br> payment option, you can build better relationships and open the
                <br> door to new customers and generate additional revenues. <br> Grow and maintain loyal clients. <br> It's free. No hidden fees.</p>
        </div>
        <div class="thumbnail">
            <img src="images/chargacard.png" alt="">
            <h1 class="heading">Your ChargaCard. Your customers</h1>
            <p class="paragraph">Customers want payment options. Start offering customers your own <br> business branded ChargaCard today and Increase customer lifetime
                <br> value. Take control of your business with your own ChargaCard.
                <br> Convert potential customers into buyers. <br> Loyalty redefined.</p>
        </div>
        <div class="thumbnail">
            <img src="images/reduce.png" alt="">
            <h1 class="heading">Reduce Shopping Cart Abandonment</h1>
            <p class="paragraph">Your prospective client is trying to make the final decision on whether <br> to buy or not to buy. Give your clients a free ChargaCard and finance
                <br> their purchase allowing them to pay for your product in installments.
                <br> The power of financing for your business.</p>
        </div>
        <div class="thumbnail">
            <img src="images/freecustom.png" alt="">
            <h1 class="heading">Free Custom Integration</h1>
            <p class="paragraph">Our client specialists will personally walk you through the setup process. <br> Let our expert team take the hassle out of getting you started.
                <br> We will do the initial integration for you. <br> No coding necessary.</p>
        </div>
    </div>
</div>
<div class="issue">
    <heading-square [color]="'bg_blue'" [text]="'Issue Cards. Earn Interest.'"></heading-square>
    <p class="paragraph">No more interchange or merchant fees!!!Instead, build better customer relationships and make additional revenue through interest earned.</p>
    <p class="paragraph paragraph_issue-calculator">ChargaCard Interest Revenue Calculator</p>
    <p class="paragraph">How much can you make with ChargaCard? </p>
    <a class="link link_calculate" href="#">
        <p class="paragraph">Calculate Now.</p>
    </a>
    <img class="img_issue" src="images/calculator.png" alt="">
    <p class="paragraph">It’s Free. Quick Setup.</p>
</div>
<iframe class="frame_video" width="560" height="315" src="https://www.youtube.com/embed/4hWuZDtexk0" frameborder="0" allowfullscreen></iframe>