<div class="step-number">1</div>
<img src="../../../common/images/icons/secure-icon.png" alt="" class="secure">
<input type="text" class="step__input" placeholder="First name">
<input type="text" class="step__input" placeholder="Last name">
<input type="tel" class="step__input" placeholder="Date of birth">
<input type="tel" class="step__input" placeholder="Phone number">
<input type="email" class="step__input" placeholder="Email">
<p class="paragraph_required">All fields are required</p>
<a routerLink="second-step" class="button button_next">Next</a>