<div class="header">
    <img class="img_header_bg" src="images/aboutheader.png" alt="">
    <h1 class=" heading heading_slogan">Changing the face of money</h1>
</div>
<div class="new-card">
    <div class="new-card__text">
        <h3 class="heading heading_new-card">The new credit card for a social economy.</h3>
        <p class="paragraph paragraph_new-card">ChargaCard is the alternative credit card network allowing stores to connect directly with their customers without 3rd party financial institutions.</p>
    </div>
    <img class="img_gold" src="images/gold.png" alt="">
</div>
<mission></mission>
<div class="about">
    <heading-square [color]="'bg_blue'" [text]="'About ChargaCard'"></heading-square>
    <p class="paragraph paragraph_about">ChargaCard is an alternative credit card network directly connecting merchants and customers based on same-day ACH. <br> Merchants offer a financing alternative to their customers, build loyalty and boost revenues. <br> Customers benefit from a new payment option based on an alternative credit scoring system.</p>
</div>
<div class="team">
    <h3 class="heading heading_team">Team</h3>
    <img src="images/emblem.png" alt="">
    <div class="team__text">
        <p class="paragraph">The development team consists of some of the most brilliant and beautiful minds at KPI: Kyiv Polytechnic Insitute, also known as the MIT of Europe.  The team is composed of students and graduates from the Institute of Applied Systems Analysis; Institute of Special Communication and Information Security; Institute of Mechanics and Machine-Building; Institute of Physics and Engineering (connected with Sun Microsystems and IBM) as well as the Departments of Aviation and Space, Applied Mathematics (connected with Freescale Semiconductor), Engineering & Physics, Informatics and Computer Engineering (connected with Cisco Systems).</p>
        <p class="paragraph">The Institute has a tradition and legacy of innovation and founders include Dmitri Mendeleev, who created the Periodic Table of Elements; and Nikolay Zhukovsky, the founding father of modern aero and hydrodynamics, who was the first scientist to explain mathematically the origin of aerodynamic lift; as well as Vladimir Zworykin, the pioneer of television technology who played an important role in the practical development of television in the 1930s. Notable alumni include rocket scientist, Sergey Korolyov, the father of practical astronautics and designer of jet engines, as well as Boris Bukreev, a prominent mathematician known for his works in complex functions, differential equations, and non-Euclidean geometry.</p>
    </div>
</div>
<kpi-history></kpi-history>