<div class="featured__thumbnail"><img class="img_text" src="images/dragrazers.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_text" src="images/orchard.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_square-pic" src="images/skidz.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_text" src="images/master&dynamic.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_text" src="images/bremont.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_text" src="images/condor.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_square-pic" src="images/herschel.png" alt=""></div>
<div class="featured__thumbnail"><img class="img_text" src="images/blukicks.png" alt=""></div>