    <div class="common-data_left">
        <div class="data-box">
            <div class="common-data__content">
                <h1 class='bold'>Stores</h1>
                <div class="common-data__date common-data_item">{{individualData?.stores.date}}</div>
                <div class="bold">{{individualData?.stores.value | currency:'USD':true}}</div>
                <div class="difference bold" [ngClass]="individualData?.stores.isIncreased ? 'increased' : 'decreased'">{{individualData?.stores.diff}}</div>
            </div>
        </div>
    </div>
    <div class="common-data_right">
        <div class="data-box">
            <div class="common-data__content common-data__content-wrapper">
                <div class="common-data__content-item">
                    <h1 class='bold'>Credit Limit</h1>
                    <div class="common-data__date common-data_item">{{individualData?.creditLimit.date}}</div>
                    <div class="bold">{{individualData?.creditLimit.value | currency:'USD':true}}</div>
                    <div class="difference bold" [ngClass]="individualData?.creditLimit.isIncreased ? 'increased' : 'decreased'">{{individualData?.creditLimit.diff | currency:'USD':true}}</div>
                </div>
                <div class="common-data__content-item">
                    <h1 class='bold'>Credits Used</h1>
                    <div class="common-data__date common-data_item">{{individualData?.creditsUsed.date}}</div>
                    <div class="bold">{{individualData?.creditsUsed.value | currency:'USD':true}}</div>
                    <div class="difference bold" [ngClass]="individualData?.creditsUsed.isIncreased ? 'increased' : 'decreased'">{{individualData?.creditsUsed.diff | currency:'USD':true}}</div>
                </div>
                <div class="common-data__content-item">
                    <h1 class='bold'>Credits Available</h1>
                    <div class="common-data__date common-data_item">{{individualData?.creditsAvailable.date}}</div>
                    <div class="bold">{{individualData?.creditsAvailable.value | currency:'USD':true}}</div>
                    <div class="difference bold" [ngClass]="individualData?.creditsAvailable.isIncreased ? 'increased' : 'decreased'">{{123 | currency:'USD':true}}</div>
                </div>
            </div>
        </div>
    </div>
