<h1 class='bold chat__heading'>Chat</h1>

<!-- <div class="chat__send-message">
    <div class="chat__sender-avatar-box">
        <div class="chat__sender-avatar-wrapper">
            <img class="chat__sender-avatar" src="../../../../common/images/drag-razer.png" alt="">
        </div>
    </div>
    <div class="chat__message-content">
        <div class="chat__message-content-title">{{businessData.name}} Support</div>
        <textarea class='chat__message-area' name="message" placeholder="Enter your message"></textarea>
        <div class="button button_primary">Send</div>
    </div>
</div> -->
<div class="chat__wrapper">
    <div class="chat__message-box">
        <div class='chat__message-wrapper'>
            <div class="chat__message-avatar-box">
                <img src="../../../../common/images/ruth.png" alt="">
            </div>
            <div class="chat__message-area">
                <div class="chat__message-title">Ruth</div>
                <div class="chat__message">Hello! Can you help me with a purchase?</div>
            </div>
        </div>
        <div class="chat__message-date">14/03/17 10:23</div>
    </div>
    <div class="chat__message-box reverse">
        <div class='chat__message-wrapper'>
            <div class="chat__message-avatar-box">
                <img src="../../../../common/images/drag-razer.png" alt="">
            </div>
            <div class="chat__message-area">
                <div class="chat__message-title">DragRazers Support</div>
                <div class="chat__message">Hello...</div>
            </div>
        </div>
        <div class="chat__message-date">14/03/17 10:24</div>
    </div>
</div>
<div class="button button_primary button_size_sm">Open Dialog</div>
