<img class="img_header_bg" src="images/contactheader.png" alt="">
<div class="contact_wrapper">
    <h1 class="heading heading_help">We are here to help</h1>
    <div class="email">
        <p class="paragraph">Email</p>
        <input type="email" placeholder="Enter your e-mail">
    </div>
    <div class="message">
        <p class="paragraph">Message</p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your text here..."></textarea>
    </div>
    <p class="paragraph paragraph_integrate">To integrate ChargaCard on your website,please contact <a href="mailto:sales@chagacard.com">sales@chagacard.com</a></p>
    <div class="button">Send</div>
</div>