<nav-row>
    <div class='edit-trigger'>Edit</div>
</nav-row>

<div class="settings">
    <h1 class="bold settings__heading">Manage your account</h1>
    <p class='settings__paragraph'>On this page you can easily add or edit bank account information for customer payments.</p>
    <div class="settings__edit-section">
        <img src="../../../common/images/icons/setting-card.png" alt="">
        <h1 class='bold'>Merchant Account</h1>
        <div class="button button_primary button_size_sm">Edit</div>
    </div>
    <div class="settings__content data-box">
        <h1 class="bold">Bank Account</h1>
        <div class="settings__bank-account">
            <img src="../../../common/images/icons/citibank.png" alt="">
            4147 4640 1258 3210
        </div>
    </div>
</div>
